@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*화면 영역 잡기*/
.inverse {
  background-color: #121212;
  color: #efefef;
  }
.full-bleed {
  box-shadow: 0 0 0 100vmax #121212;
  clip-path: inset(0 -100vmax);
  }
